<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Title</title>
</head>
<body>
        <div th:replace = "Melon/Header.html :: header"></div>
        <div class = "container">
                <div class = "row">
                        <div class = "col-md-5">
                                <h4 style = "text-align : center; vertical-align : middle;">이 노래들 신곡인데 노래방에 나왔다고?</h4>
                        </div>
                        <div class = "col-md-5 offset-md-1">

                        </div>
                </div>
        </div>
</body>
</html>