<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Title</title>
</head>
<body>
        <div class = "container">
                <div class = "row">
                        <table class = "table">
                                <tr>
                                        <td class = "col-md-2">번호</td><td class = "col-md-2">제목</td><td class = "col-md-2">가수</td><td class = "col-md-2">앨범컷</td><td class = "col-md-2">앨범명</td><td class = "col-md-2">등록일</td>
                                </tr>
                        </table>
                </div>
        </div>
</body>
</html>