<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Title</title>
</head>
<body>
        <div th:replace = "Melon/Header.html :: header"></div>
        <div class = "container">
                <div class = "row">
                        <table class = "table">
                                <tr>
                                        <td class = "col-md-2 text-center">번호</td>
                                        <td class = "col-md-2 text-center">제목</td>
                                        <td class = "col-md-2 text-center">가수</td>
                                        <td class = "col-md-2 text-center">앨범컷</td>
                                        <td class = "col-md-2 text-center">앨범명</td>
                                        <td class = "col-md-2 text-center">등록일</td>
                                </tr>
                                <!--<tr th:each = "@{}"></tr>-->
                        </table>
                </div>
        </div>
</body>
</html>