<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Title</title>
</head>
<body>
        <div th:replace = "Melon/Header.html :: header"></div>
        <script th:src = "@{/JS/NewSongJS.js}"></script>
        <div class = "container">
                <div class = "row">
                        <div class = "">
                                <button onclick = "newSongUpdate()" class = "btn btn-outline-success">곡 업데이트</button>
                                <div><p></p></div>
                        </div>
                        <table class = "table">
                                <tr>
                                        <td class = "col-md-2 text-center">번호</td>
                                        <td class = "col-md-2 text-center">제목</td>
                                        <td class = "col-md-2 text-center">가수</td>
                                        <td class = "col-md-2 text-center">앨범컷</td>
                                        <td class = "col-md-2 text-center">앨범명</td>
                                        <td class = "col-md-2 text-center">date</td>
                                </tr>
                                <tr th:each = "newSongDTO : ${newSongDTOS}">
                                        <td class = "col-md-2 text-center mt-5" th:text = "${newSongDTO.ns_no}" style = "vertical-align : middle"></td>
                                        <td th:if = "${newSongDTO.stitle.length()} >= 16" class = "col-md-2 text-center mt-5" th:text = "${#strings.substring(newSongDTO.stitle, 0, 15) + '...'}" style = "vertical-align : middle"></td>
                                        <td th:unless = "${newSongDTO.stitle.length()} >= 16" class = "col-md-2 text-center mt-5" th:text = "${newSongDTO.stitle}" style = "vertical-align : middle"></td>
                                        <td th:if = "${newSongDTO.s_singer.length()} >= 16" class = "col-md-2 text-center mt-5" th:text = "${#strings.substring(newSongDTO.s_singer, 0, 15) + '...'}" style = "vertical-align : middle"></td>
                                        <td th:unless = "${newSongDTO.s_singer.length()} >= 16" class = "col-md-2 text-center mt-5" th:text = "${newSongDTO.s_singer}" style = "vertical-align : middle"></td>
                                        <td class = "col-md-2 text-center mt-5"><img th:src = "${newSongDTO.s_img}" style="width: 3rem; height: 3rem;"></td>
                                        <td class = "col-md-2 text-center mt-5" th:text = "${newSongDTO.s_album}" style = "vertical-align : middle"></td>
                                        <td th:text = "${#temporals.format(newSongDTO.createTime, 'yy-MM-dd hh : mm')}" class = "col-md-3"></td>
                                </tr>
                        </table>
                        <div>
                                <ul class = "pagination justify-content-center" th:with = "start = ${T(Math).floor(newSongDTOS.number/10)*10+1}, last= ${start+9 < newSongDTOS.totalPages? start+9 : newSongDTOS.totalPages}">
                                        <il class = "page-item"> <!-- 첫페이지 -->
                                                <a class = "page-link" th:href = "@{/NewSong/NewSongList(page = 1)}"> <<< </a>
                                        </il>
                                        <li class = "page-item" th:class = "${newSongDTOS.first} ? 'disabled'"> <!-- 현재페이지 - 1 -->
                                                <a class = "page-link" th:href = "${newSongDTOS.first} ? '#' : @{/NewSong/NewSongList(page = ${newSongDTOS.number})}"> < </a>
                                        </li>
                                        <li class = "page-item" th:each = "page : ${#numbers.sequence(start, last)}"> <!-- 현재페이지 -->
                                                <a class = "page-link" th:href = "@{/NewSong/NewSongList(page = ${page})}" th:text = "${page}"></a>
                                        </li>
                                        <li class = "page-item" th:class = "${newSongDTOS.last} ? 'disabled'"> <!-- 현재페이지 + 1 -->
                                                <a class = "page-link" th:href = "${newSongDTOS.last} ? '#' : @{/NewSong/NewSongList(page = ${newSongDTOS.number + 2})}"> > </a>
                                        </li>
                                        <li class = "page-item"> <!-- 마지막 페이지 -->
                                                <a class = "page-link" th:href = "@{/NewSong/NewSongList(page = ${newSongDTOS.totalPages})}"> >>> </a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </div>
</body>
</html>
